
*{
  all: unset;
}
window {
  background-color: #121212;
  //background-color: #080a10;
  //background-color: #ffffff; 
	color: #ffd5cd;
  font-family: Museo Sans;
}

button {
  all: unset;
  background-color: #121212;
  padding: 10px;
}

.quote-main {
  font-size: 18px;
  font-weight: bold;
  margin-top: 20px;
  // margin-bottom: 20px;
  margin-left: 20px;
  color: #A5b3c0;
}
.quote-author {
  font-size: 18px;
  margin-right: 30px;
  margin-bottom: 10px;
  color: #84afdb;
}
.quote-tail {
  font-size: 18px;
  font-weight: bold;
  // margin-top: 20px;
  margin-bottom: 10px;
  margin-left: 20px;
  color: #A5b3c0;
}

.quote-box {
  // margin: 5px;
  //border-radius: 10px;
}


/* CONTROLS */

.sliders-side slider {
  all: unset;
  color: #ffd5cd;
}
.slider-vol-side {
  margin-top: 10px;
}
.slider-vol-side scale trough highlight {
	all: unset;
	background-color: #c47eb7;
	color: #000000;
	border-radius: 10px;
}

.slider-vol-side scale trough {
	all: unset;
	background-color: #4e4e4e;
	border-radius: 50px;
	min-height: 5px;
  min-width: 170px;
  margin-top: 10px;
  margin-left: 20px;
}

.label-vol-side {
  color: #c47eb7;
  margin-top: 10px;
  font-family: Iosevka;
  margin-left: 35px;
  font-size: 25px;
}

.slider-bri-side scale trough highlight {
	all: unset;
	background-color: #B46B0B;
	color: #000000;
	border-radius: 10px;
}

.slider-bri-side scale trough {
	all: unset;
	background-color: #4e4e4e;
	border-radius: 50px;
	min-height: 5px;
  min-width: 170px;
  margin-top: 5px;
  margin-left: 14px;
}

.label-bri-side {
  color: #B46B0B;
  margin-top: 5px;
  font-family: Iosevka;
  margin-left: 29px;
  font-size: 25px;
}


/* IP */

.mypubip-ip, .mylocip-ip {
  font-size: 16px;
  color: #84afdb;

  margin-left: 10px;
}

.mypubip-icon, .mylocip-icon {
  margin-left: 10px;
}

.mylocip-icon {
	font-size: 24px;
	color: #5a91e8;
}

.myhostname-box {
    background-color: #121212;

    background-size: 100px 100px;
    background-repeat: no-repeat;
    background-position: top;

}

.myhostname-name {
	margin-top: 110px;
  font-size: 15px;
	color: #5a91e8;
}

//RSS

.myrss-title {
  margin-top: 10px;
  font-size: 22px;
  color: #ff581a;
}

.myrssentry-text {
  font-size: 13px;
  color: #84afdb;
}

.myrss-entry {
}
